# Function (Fonksiyonlar 19. bölüm)

In [1]:
def veritabani_olustur():
    try:
        # Metin dosyasını aç
        with open("veritabani.txt", "w") as dosya:
            dosya.write("ID,Ad,Soyad,Email\n")  # Başlık satırı

        print("Veritabanı başarıyla oluşturuldu: veritabani.txt")

    except Exception as hata:
        print("Veritabanı oluşturma hatası:", hata)

In [6]:
# first function
def chance(b):
    a=b**3
    return a

print(chance(int(input())))

5954
211069990664

In [23]:
#Hipotenüs işlemi yapan fonksiyon

def hypo(a,b):
    return (a**2+b**2)**0.5
a=int(input("first edge:",))
b=int(input("second edge:",))

print("hypotenuse:",hypo(a,b))

first edge:5
second edge:12
hypotenuse: 13.0

In [2]:
def argument(ad,soyad,age):
    print("my name is ",ad)
    print("my surname is ",soyad),
    print("my age is ",age)
argument("maria","peder",25)

my name is  maria
my surname is  peder
my age is  25

# Possionional Arguments (*args kullanımı)

In [29]:
def exchance(*deger):
    cift=[]
    tek=[]
    for i in deger:
        if i % 2 ==0:
            cift.append(i)
        elif i % 2 ==1:
            tek.append(i)
    print(tek,cift, sep="\n")

deger = tuple(range(1, 10))
exchance(*deger)

[1, 3, 5, 7, 9]
[2, 4, 6, 8]

# Keyword Arguments (**kwargs kullanımı)

In [26]:
def eng_tur(**word):
    for key,value in word.items():
        print(f"{key} kelimesinin anlamı {value} dir.")
eng_word={"Reason":"Sebep",
         "Unique":"Benzersiz",
         "Backgamon":"Tavla",
         "Avaliable":"Uygun"}
eng_tur(**eng_word)

Reason kelimesinin anlamı Sebep dir.
Unique kelimesinin anlamı Benzersiz dir.
Backgamon kelimesinin anlamı Tavla dir.
Avaliable kelimesinin anlamı Uygun dir.

In [33]:
#all function
list1=[]
for i in range(0,10):
    list1.append(i)

def control(*thedor):
    print(all(list1))
control(list1)

False

In [34]:
#any
list1=[]
for i in range(0,10):
    list1.append(i)

def control(*thedor):
    print(any(list1))
control(list1)

True

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

In [48]:
print(student_marks)

{'halis,': [50.0, 60.0, 70.0], 'melih,': [80.0, 90.0, 100.0], 'galip': [50.0, 50.0, 50.0], 'mevlüt': [70.0, 80.0, 90.0], 'dogan': [63.0, 58.0, 96.0]}

In [2]:
query_name = input()
student2=sum(student_marks[query_name])
result=student2/3
formatted_result = "{:.2f}".format(result)
print(formatted_result)

melih

NameError: name 'student_marks' is not defined

In [40]:
sayilar=range(10)
def kup(sayi):
    return sayi**3
islem=map(kup,sayilar)
print(*islem)

0 1 8 27 64 125 216 343 512 729

# CLASS

In [3]:
class libary():
    book_title,book_author=list(map(str,input().split()))
    first_release_year,number_of_pages=list(map(int,input().split()))

kurk madonna
1924 154

In [10]:
libary.book_author

'madonna'