# Built in fonksiyonları (All built in function)

In [19]:

list1=[("accept","kabul_etmek"),("decoding","kod_cozme"),("make_sure","emin_olmak")]
list2=[1,2,3,4,5,-20]
list3=[]
dict1={"ders":{"Instruction":"Talimatlar",
             "AI":"Artifical_intelllenge"},
      "custom":[1,2,3,5]}

In [20]:
#abs() mutlak değer aldık
absolute_value=[abs(x) for x in list2]
print(absolute_value)

[1, 2, 3, 4, 5, 20]

In [24]:
#all any
all_func=(all(list2))
print(all_func)
all_func1=(all(dict1))
print(all_func1)
print(all(list3))
print("--------------")
print(any(list3))

True
True
True
--------------
False

In [1]:
#bin()---binary sayıya dönüştürür
bin(54)
bin(19888)

'0b100110110110000'

## LAMBDA FONKSİYONU

In [2]:
example=(lambda x:x**3 )
example(3)

27

In [3]:
example=(lambda x,y:x*y)
example(3,2)

6

## Ternary Condition ile kullanım

In [8]:
odd_number=lambda x:"your number is odd " if x %2 ==1 else "Your number is even "

In [10]:
odd_number(2)
odd_number(15)

'your number is odd '

In [11]:
print(odd_number(1555))

your number is odd

In [12]:
print(odd_number(1558))

Your number is even

In [13]:
list10=[15,25,35,65,78,49,15,444,777,54855]

In [14]:
for i in list10:
    print(i,":",(lambda x:"your number is odd " if x %2 ==1 else "Your number is even ")(i))

15 : your number is odd
25 : your number is odd
35 : your number is odd
65 : your number is odd
78 : Your number is even
49 : your number is odd
15 : your number is odd
444 : Your number is even
777 : your number is odd
54855 : your number is odd

In [15]:
add_and_subtract = lambda x, y: (x + y, x - y)
result = add_and_subtract(5, 3)
print(result)

(8, 2)